<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Adding the bootstrap library -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
    <!-- Adding the font library -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@500;700&display=swap" rel="stylesheet"> 
    <!-- Link to custom CSS library -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

    <title>Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-transparent" style="border-bottom: 2px solid #ffc107;">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto center">
                <li class="nav-item active">
                    <a class="nav-link archivo white" href="#">History</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" href="/"><span class="orange Playfair">BLACK.cs</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2" style="margin-left: 10px;">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto center">
                <li class="nav-item">
                    <a class="nav-link archivo white" href="/stats/">Statistics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link archivo white" href="#">Sources</a>
                </li>
            </ul>
        </div>
    </nav>
    
    {% block content %}
    {% endblock %}
</body>
</html>