{% extends 'default-head.html' %}
{% block content %}
<div class="container">
    <h1 class="Playfair orange center">Here are some black leaders in the realm of CS.</h1>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <h3 class="black Playfair center">Gerald "Jerry" Lawson (1970's)</h3>
                </div>
                <div class="container">
                    <br />
                    <center>
                        <img src="https://s.yimg.com/uu/api/res/1.2/nFdIoJXfnEstLr6xuBWCig--~B/aD02NzE7dz05NjA7YXBwaWQ9eXRhY2h5b24-/https://o.aolcdn.com/hss/storage/midas/9d095f7334e4f74b89ef4535b2e089f2/201585474/jerry+lawson.jpg" id="jerry-lawson-portrait" alt="jerry-lawson-portrait" />
                    </center>
                    <br />
                    <ul style="list-style: none;">
                        <li class="archivo black">Jerry Lawson is an engineer that pioneered the concept of the video game cartridge.</li>
                        <br />
                        <li class="archivo black">Member of the "Homebrew Computer Club" including members like Steve Jobs and Steve Wozniack.</li>
                        <li class="archivo black">He created the first console with removable media. (Fairchild Channel F Console)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <h3 class="black Playfair center">Roy L. Clay, Sr. <br />(1960's)</h3>
                </div>
                <div class="container">
                    <br />
                    <center>
                        <img src="https://www.blackentrepreneurprofile.com/fileadmin/user_upload/royclay.jpg" id="roy-clay" alt="roy-clay-portrait">
                    </center>
                    <br />
                    <ul style="list-style: none;">
                        <li class="archivo black">Roy L. Clay is a computer science pioneer who was dubbed the “Godfather of Silicon Valley.”</li>
                        <br />
                        <li class="archivo black">He led the team that engineered HP's entrance into the computer market with the development of the 2116A computer in 1966.</li>
                        <li class="archivo black">Clay Sr. has founded many organizations to promote the growth of computer science within the black community.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    <h3 class="black Playfair center"> Katherine Johnson <br />(1950-80's)</h3>
                </div>
                <div class="container">
                    <br />
                    <center>
                        <img src="https://www.nasa.gov/sites/default/files/styles/side_image/public/thumbnails/image/1-1966-l-06717_2.jpeg?itok=TVHKinJ6" id="kathrine-johnson-portrait" alt="kathrine-johnson-potrait">
                    </center>
                    <br />
                    <ul style="list-style: none;">
                        <li class="archivo black">Katherine studied how to use geometry for space travel. She figured out the paths for the spacecraft to orbit Earth and to land on the Moon. </li>
                        <br />
                        <li class="archivo black">Her efforts led to putting the first Americans on the moon. Katherine's job was so complexed her position was actually called a "computer"</li>
                        <li class="archivo black">Katherine Johnson worked for NASA for more than 30 years. She retired in 1986.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


