{% extends 'default-head.html' %}
{% block content %}
<header class="header-hero">
    <img src="https://i.pinimg.com/originals/d4/a0/c1/d4a0c1e79584066a6b8a189472cad1bf.jpg" class="jumbotron-image"/>
</header>
<br />
<div class="container-fluid center">
    <section class="jumbotron-text">
        <h3 class="Playfair heading-1">Should there be a concerted effort to include more<br /><span class="orange">African Americans </span> <br /> in Computer Science?</h3> 
    </section>
</div>
<br />
<div class="acm-stats container center">
    <h4 class="Playfair orange">According to the New York Times in 2016 the diversity statistics among Computer Science careers showed that:</h4>
</div>
<br />
<div class="container center">
    <div class="row">
        <div class="col-sm">
            <h5 class="archivo">White Developers Make Up</h5>
            <h1 class="archivo">67%</h1>
            <h5 class="archivo">Of All Computer Science Employees</h5>
        </div>
        <div class="col-sm">
            <br />
            <br />
            <h1 class="Playfair orange">- VS -</h1>
        </div>
        <div class="col-sm">
            <h5 class="archivo">Black Developers Make Up</h5>
            <h1 class="archivo">7.5%</h1>
            <h5 class="archivo">Of All Computer Science Employees</h5>
        </div>
    </div>
</div>
<section class="spacer"></section>
<div class="small-container container">
    <div class="card bg-light">
        <div class="card-header">
            <h3 class="card-padding Playfair orange center">These statistics don't point to over representation, but under representation.</h3>
        </div>
        <p></p>
        <p></p>
        <h4 class="card-padding black archivo center">African Americans make up 13% of the United States population, and 14% of all enrolled Computer Science freshman in the country.</h4>
        <br />
        <h5 class="card-padding black archivo center">So why do only half complete their degree and secure a job?</h5>
        <section class="spacer"></section>
        <span class="center">
            <a href="/stats">
                <button class="data-button btn btn-warning">Take a look @ the data</button>
            </a>
        </span>
        <section class="spacer"></section>
    </div>
</div>
<div class="spacer"></div>

{% endblock %}