{% extends 'default-head.html' %}
{% load mathfilters %}
{% block content %}
    <br />
    <div class="container-fluid">
        <h1 class="Playfair orange center">State Demographics and Income</h1>
        <p class="archivo lead center no-bottom-space">High School Statistics by: &nbsp; <a href="https://nces.ed.gov/programs/coe/indicator_coi.asp">https://nces.ed.gov/programs/coe/indicator_coi.asp</a></p>
        <p class="archivo lead center">Income statistics compiled by the United States&nbsp;<a href="http://census.gov">Census</a></p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <form method="POST" action="/stats/" class="form-row">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        <select name="state_list" id="state-select" class="form-select form-control">
                            <option value="none" selected disabled hidden>
                                Select a State
                            </option>
                            {% for state_demographic in state_demographics %}
                            <option value="{{ state_demographic.state }}" class="archivo">{{ state_demographic.state }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mb-2">
                        <button type="submit" id="data-button" class="archivo btn btn-warning form-control"> See State Data </button>
                    </div>
                </form>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
    {% if selected_state %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 class="Playfair orange">{{ selected_state.state }}</h1>
                <h5 class="archivo orange">Black Students in {{ selected_state.state }}:</h5>
                <p class="archivo no-bottom-space demographic_text">Public High School Graduation Rate: {{ selected_state.black_highschool_grad_rate|mul:"100" }}%</p>
                <p class="archivo no-bottom-space demographic_text">Public College Graduation Rate: {{ selected_state.black_college_grad_rate|mul:"100" }}%</p>
                <p class="archivo no-bottom-space demographic_text">Household Median Income: ${{ selected_state.black_median_income }}</p>
                <p class="archivo no-bottom-space demographic_text">Black Population Percentage: {{ selected_state.black_population_percentage|mul:"100" }}%</p>
                <p class="archivo no-bottom-space demographic_text">Black Population Amount: {{ selected_state.black_population_raw_amount }}</p>
            </div>
            <div class="col-sm" style="margin-top: 5px;">
                <br />
                <br />
                <h5 class="archivo orange">White Students in {{ selected_state.state }}:</h5>
                <p class="archivo no-bottom-space demographic_text">Public High School Graduation Rate: {{ selected_state.white_highschool_grad_rate|mul:"100" }}%</p>
                <p class="archivo no-bottom-space demographic_text">Public College Graduation Rate: {{ selected_state.white_college_grad_rate|mul:"100" }}%</p>
                <p class="archivo no-bottom-space demographic_text">Household Median Income: ${{ selected_state.white_median_income }}</p>
                <p class="archivo no-bottom-space demographic_text">White Population Percentage: {{ selected_state.white_population_percentage|mul:"100" }}%</p>
                <p class="archivo no-bottom-space demographic_text">White Population Amount: {{ selected_state.white_population_raw_amount }}</p>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
    {% endif %}
    <br />
    <br />
    <div class="chart-height">
        <div class="container">
            <h5 class="Playfair orange center"> Aggregate Income Statistics by Location and Race</h5>
            <div class="card card-body bg-light">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    <br />
    <div class="chart-height">
        <div class="container">
            <h5 class="Playfair orange center"> Aggregate Public College Graduation Rates by Location and Race (Where Availible)</h5>
            <div class="card card-body bg-light">
                <canvas id="myChart3" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    <br />
    <div class="chart-height">
        <div class="container">
            <h5 class="Playfair orange center"> Aggregate High School Graduation Rates by Location and Race</h5>
            <div class="card card-body bg-light">
                <canvas id="myChart2" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            var endpoint = '/visualstats/'
            var labels = [];
            var blackMedianIncome = [];
            var whiteMedianIncome = [];
            var blackHighSchoolGrad = [];
            var whiteHighSchoolGrad = [];
            var blackCollegeGrad = [];
            var whiteCollegeGrad = [];
            $.ajax({
                method : "GET",
                url : endpoint,
                success: function(data){
                    labels = data.labels
                    blackMedianIncome = data.blackMedianIncome
                    whiteMedianIncome = data.whiteMedianIncome
                    blackHighSchoolGrad = data.blackHighSchoolGrad
                    whiteHighSchoolGrad = data.whiteHighSchoolGrad
                    blackCollegeGrad = data.blackCollegeGrad
                    whiteCollegeGrad = data.whiteCollegeGrad
                    var ctx = document.getElementById('myChart');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'Median Income of Black Families',
                                data: blackMedianIncome,
                                backgroundColor: 'rgb(252,168,40)',
                                color: "rgb(252, 168 ,40)",
                            },
                            {
                                label: 'Median Income of White Families',
                                data: whiteMedianIncome,
                                backgroundColor: 'rgb(150, 150, 150)',
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                    
                    var ctx = document.getElementById('myChart2');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'High School Graduation Rate of Black Families',
                                data: blackHighSchoolGrad,
                                backgroundColor: 'rgb(252,168,40)',
                                color: "rgb(252, 168 ,40)",
                            },
                                {
                                    label: 'High School Graduation Rate of White Families',
                                    data: whiteHighSchoolGrad,
                                    backgroundColor: 'rgb(150, 150, 150)',
                                }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            scales: {
                                y: {
                                    beginAtZero: false
                                }
                            }
                        }
                    });
                    
                    var ctx = document.getElementById('myChart3');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'College Graduation Rate of Black Families',
                                data: blackCollegeGrad,
                                backgroundColor: 'rgb(252,168,40)',
                                color: "rgb(252, 168 ,40)",
                            },
                                {
                                    label: 'College Graduation Rate of White Families',
                                    data: whiteCollegeGrad,
                                    backgroundColor: 'rgb(150, 150, 150)',
                                }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            scales: {
                                y: {
                                    beginAtZero: false
                                }
                            }
                        }
                    });

                    console.log("Success");
                },
                error : function(){
                    console.log("Something went wrong here!");
                    console.log(error_data)
                }
            })
        })
</script>

{% endblock %}
