{% extends 'default-head.html' %}
{% load mathfilters %}
{% block content %}
    <br />
    <div class="container-fluid">
        <h1 class="Playfair orange center">State Demographics and Income</h1>
        <p class="archivo lead center no-bottom-space">High School Statistics by: &nbsp; <a href="https://nces.ed.gov/programs/coe/indicator_coi.asp">https://nces.ed.gov/programs/coe/indicator_coi.asp</a></p>
        <p class="archivo lead center">Income statistics compiled by the United States&nbsp;<a href="http://census.gov">Census</a></p>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <form method="POST" action="/stats/" class="form-row">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                        <select name="state_list" id="state-select" class="form-select form-control">
                            {% for state_demographic in state_demographics %}
                            <option value="{{ state_demographic.state }}" class="archivo">{{ state_demographic.state }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mb-2">
                        <button type="submit" id="data-button" class="archivo btn btn-warning form-control"> See State Data </button>
                    </div>
                </form>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
    {% if selected_state %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1 class="Playfair orange">{{ selected_state.state }}</h1>
                <h5 class="archivo orange">Black Students in {{ selected_state.state }}:</h5>
                <p class="archivo no-bottom-space demographic_text">Public High School Graduation Rate: {{ selected_state.black_highschool_grad_rate|mul:"100" }}%</p>
                <p class="archivo no-bottom-space demographic_text">Public College Graduation Rate: {{ selected_state.black_college_grad_rate|mul:"100" }}%</p>
                <p class="archivo no-bottom-space demographic_text">Household Median Income: ${{ selected_state.black_median_income }}</p>
            </div>
            <div class="col-sm" style="margin-top: 5px;">
                <br />
                <br />
                <h5 class="archivo orange">White Students in {{ selected_state.state }}:</h5>
                <p class="archivo no-bottom-space demographic_text">Public High School Graduation Rate: {{ selected_state.white_highschool_grad_rate|mul:"100" }}%</p>
                <p class="archivo no-bottom-space demographic_text">Public College Graduation Rate: {{ selected_state.white_college_grad_rate|mul:"100" }}%</p>
                <p class="archivo no-bottom-space demographic_text">Household Median Income: ${{ selected_state.white_median_income }}</p>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="card card-body bg-light">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            var endpoint = '/visualstats/'
            var labels = [];
            var chartdata = [];
            $.ajax({
                method : "GET",
                url : endpoint,
                success: function(data){
                    labels = data.labels
                    chartdata = data.chartdata
                    var ctx = document.getElementById('myChart');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                label: 'Median Income of Black Families',
                                data: chartdata,
                                backgroundColor: 'rgb(252,168,40)',
                                color: "rgb(252, 168 ,40)",
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });

                    console.log("Success");
                },
                error : function(){
                    console.log("Something went wrong here!");
                    console.log(error_data)
                }
            })
        })
</script>

{% endblock %}
